title Airport DBMS | Homepage
//  Required meta tags 
meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
//  Bootstrap CSS 
link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
nav.navbar.navbar-expand-sm.navbar-light.bg-light
  a.navbar-brand(href="#") Airport DBMS
  button.navbar-toggler.d-lg-none(type="button", data-toggle="collapse", data-target="#collapsibleNavId", aria-controls="collapsibleNavId", aria-expanded="false", aria-label="Toggle navigation")
    span.navbar-toggler-icon
  .collapse.navbar-collapse#collapsibleNavId
    ul.navbar-nav.mr-auto.mt-2.mt-lg-0
      li.nav-item.active
        a.nav-link(href="#")
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href="login") Login
#carouselId.carousel.slide(data-ride="carousel", style="height: 100px; width: 100%;")
  ol.carousel-indicators
    li.active(data-target="#carouselId", data-slide-to="0")
    li(data-target="#carouselId", data-slide-to="1")
    li(data-target="#carouselId", data-slide-to="2")
  .carousel-inner(role="listbox")
    .carousel-item.active
      img(src="https://media.gettyimages.com/photos/passenger-airplane-getting-ready-for-flight-picture-id1149089650?s=2048x2048", alt="First slide")
      .carousel-caption.d-none.d-md-block
        h3 Title
        p Description
    .carousel-item
      img(src="https://media.gettyimages.com/photos/empty-airport-terminal-waiting-area-picture-id878848926?s=2048x2048", alt="Second slide")
      .carousel-caption.d-none.d-md-block
        h3 Title
        p Description
    .carousel-item
      img(src="https://media.gettyimages.com/photos/blank-advertising-billboard-with-baggage-and-luggage-in-the-airport-picture-id1008302196?s=2048x2048", alt="Third slide")
      .carousel-caption.d-none.d-md-block
        h3 Title
        p Description
  a.carousel-control-prev(href="#carouselId", role="button", data-slide="prev")
    span.carousel-control-prev-icon(aria-hidden="true")
    span.sr-only Previous
  a.carousel-control-next(href="#carouselId", role="button", data-slide="next")
    span.carousel-control-next-icon(aria-hidden="true")
    span.sr-only Next
//  Optional JavaScript 
//  jQuery first, then Popper.js, then Bootstrap JS 
script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous").
  
  
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js", integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", crossorigin="anonymous").
  
  
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", crossorigin="anonymous").



  
  