title Airport DBMS | Login
//  Required meta tags 
meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
//  Bootstrap CSS 
link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
script(src="/server/index.js")
nav.navbar.navbar-expand-sm.navbar-light.bg-light
  a.navbar-brand(href="#") Airport DBMS
  button.navbar-toggler.d-lg-none(type="button", data-toggle="collapse", data-target="#collapsibleNavId", aria-controls="collapsibleNavId", aria-expanded="false", aria-label="Toggle navigation")
    span.navbar-toggler-icon
  .collapse.navbar-collapse#collapsibleNavId
    ul.navbar-nav.mr-auto.mt-2.mt-lg-0
      li.nav-item
        a.nav-link(href="/")
          | Home 
          span.sr-only (current)
      li.nav-item.active
        a.nav-link(href="login") Login
.container(style="padding-top: 10%;")
  h1 Login
  form#login-form(method="POST", action="/login")
    .form-group
      // username
      label.col-sm-1-12.col-form-label(for="inputName")
      .col-sm-1-12
        input.form-control#username(type="text", name="username", placeholder="username")
    .form-group
      // password
      label.col-sm-1-12.col-form-label(for="inputName")
      .col-sm-1-12
        input.form-control#password(type="password", name="password", placeholder="password")
    .form-group
      // buttons
      .col-sm-10
       // a(href="/").
       button.btn.btn-success#login(type="submit") Login
  a(href="/") return to homepage
//  Optional JavaScript 
//  jQuery first, then Popper.js, then Bootstrap JS 
script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous").
  
  
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js", integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", crossorigin="anonymous").
  
  
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", crossorigin="anonymous").
  
  
script(src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js")

script(src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js")
script.
  
  function addDarkmodeWidget() {
      new Darkmode().showWidget();
    }
    window.addEventListener('load', addDarkmodeWidget);
  
